.reviewsList {
  /* background-color: teal; */
}

.reviewsItem {
  margin-bottom: 10px;
  padding: 10px;

  background-color: rgb(255, 239, 195);
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
}

.reviewsAuthor {
  margin-bottom: 10px;
}

.defaultMessage {
  margin-bottom: 10px;
  padding: 10px;

  font-size: 18px;
  font-weight: 700;
  color: rgb(190, 28, 0);
  background-color: rgb(255, 239, 195);
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
}
